body {
    display: flex;
    justify-content: center;
    background-color: #131111;
    background-image: url(./white-diamond.png);
    color: #afa6a9;
}

#calc-container {
    margin-top: 10px;
    width: 300px;
    padding: 0 20px 20px 20px;
    background-color: #131111;
    border: 1px solid #cbcbc8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#fields>* {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}

#fields input {
    padding: 8px;
    border: 1px solid #cbcbc8;
    border-radius: 4px;
}

#fields input:last-child {
    margin-bottom: 0;
    background-color: #f9f9f9;
}